.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-grow: 1;
}

.speechSection {
  flex-shrink: 1;
  min-height: 0;
  overflow: scroll;
}

.lastSection {
  padding-bottom: 1rem;
}

.labeledMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
